.navbar{
    background-color: #003f5c !important;    
}

.nav-link{
    color:#fff !important;
}

.navbar-brand{
    color:#fff !important;
    font-weight: bold;
}

.footer{
    background-color: #003f5c ;
}