@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&family=Raleway:wght@200;500;600&family=Risque&family=Space+Grotesk:wght@700&display=swap');


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', sans-serif;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
